*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}
nav{
    filter: invert(100%);
}
.first{
    margin: 10px;
    display: flex;
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 9px;
    box-shadow: 10px 10px 10px rgb(93, 90, 90);
}
.second{
    margin: 10px;
    display: flex;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 9px;
    box-shadow: 10px 10px 10px rgb(93, 90, 90);
}
.second div{
    margin:10px;
    padding:auto;
}